<div class="center hero-unit">
<h1>Agent Insurance</h1>

<p><strong>Conmpare Auto Insurance from among the nations top carriers!</strong></p>
<p>Choosing the right car insurance company can seem like a challenging task but today's drivers have many advantages over previous generations.</p>

<p> Four easy steps</p>
<p> <%= link_to "Free Quotes!", "#", class: "btn btn-larege btn-primary" %></p>
</div>

