<div class="navbar">
  <div class="navbar-inner">

    <ul class="nav">
      <li><a href="#">Auto Insurance</a></li>
      <li><a href="#">Filing a Claim</a></li>
      <li><a href="#">New to Insurance</a></li>
    </ul>
  </div>
</div>