<div class="footer">
<small>
<%= link_to "Auto Insurance", "http://agentinsurance.com" %>
<%= link_to "New to Insurance", "http://agentinsurance.com" %>
<%= link_to "Filing a Claim", "http://agentinsurance.com" %>


</small>
</div>